.Footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 18%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Footer p {
    line-height: 45px;
    font-size: 30px;
}

.Footer li {
    display: inline;
}

.Footer-1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    text-align: center;
}

.Footer-a, .Footer-b, .Footer-c {
    flex: 1;
    margin: 20px;
}

.Footer hr {
    margin-top: 5.2%;
    border: 2px solid #171717;
}

.Footer-2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}

.Footer-d, .Footer-e {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.Footer-e ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.Footer-e a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .Footer-1, .Footer-2 {
        flex-direction: column;
        align-items: center;
    }

    .Footer-a, .Footer-b, .Footer-c, .Footer-d, .Footer-e {
        margin: 10px 0;
    }

    .Footer-e ul {
        flex-direction: column;
    }
    .Footer-e a { margin: 10px 0; }
   
}
